* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* --Navbar component-- */

.header {
    background-color: #1F2937;
    color: #fff;
    height: 70px;
}

.navbar {
    height: 70px;
    max-width: 1047px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    font-size: 11px;
    display: flex;
}

.menu li {
    margin-left: 29px;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* --Hero component-- */

.hero {
    background-color: #1F2937;
}

.hero-container {
    max-width: 1047px;
    margin: auto;
    display: flex;
    padding: 100px 0 140px;
}

.hero-content {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 45%;
}

.hero-content h1  {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-content p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content button {
    background-color: #3882F6;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
    padding: 9px 36px;
    border-radius: 7px;
    border: none;
}

.hero-image {
    background-color: rgb(133, 135, 143);
    font-size: 18px;
    color: #F9FAF8;
    height: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 52%;
}

/* --Informtion component-- */

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px 0;
    text-align: center;    
}

.information-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 120px;
}

.card {
    width: 170px;
}

.card .image {
    height: 160px;
    width: 160px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.card .text {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

/* --Quote component-- */

.quote {
    background-color: #E5E7EB;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0 100px;
}

.quote-container {
    max-width: 790px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
}

.signature {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    margin-right: 50px;
}

/* --Call to Action Component-- */

.call-to-action {
    padding: 100px 0;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #3882F6;
    color: #fff;
    max-width: 2047px;
    padding: 50px 110px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.banner-button {
    background-color: #3882F6;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 36px;
    border-radius: 7px;
    border: 2px solid #fff;
}

/* --Footer component-- */

.footer {
    background-color: #1F2937;
    color: #fff;
    font-size: 18px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}